{% function actor = 'lib/commands/activities/header', payload: payload, namespace: namespace, role: role %}

<header class="mb-3 last:mb-0 flex items-center gap-4">
  {% if actor.url %}
    <a href="{{ actor.url }}">
  {% endif %}
    {% render 'theme/simple/ui/avatar', profile: payload.actor, size: 48, class: 'w-12 h-12' %}
  {% if actor.url %}
    </a>
  {% endif %}

  <div>
    {% if actor.url %}
      {%- capture info -%}[{{ payload.type }}] [{{ payload.actor.type }}#{{ payload.actor.id }}][{{ payload.object.type }}#{{ payload.object.id }}][{{ payload.target.type }}#{{ payload.target.id }}]{%- endcapture -%}
      <a href="{{ actor.url }}" title="{{ info | escape }}" class="font-semibold text-content">{{ actor.name }}</a>
    {% else %}
      {{ actor.name }}
    {% endif %}

    {% liquid
      case payload.type
      when 'item_inventory_updated'
        render 'theme/simple/activities/feed_unit/type/item_inventory_updated', payload: payload, namespace: namespace
      when 'post_created'
        if payload.target.name != 'PROFILE_GROUP'
          render 'theme/simple/activities/feed_unit/type/default', payload: payload, namespace: namespace, role: role
        endif
      else
        render 'theme/simple/activities/feed_unit/type/default', payload: payload, namespace: namespace, role: role
      endcase
    %}

    {% if payload.date %}
      <time title="{{ payload.date }}" datetime="{{ payload.date }}" class="block mt-1 sidenote text-content-sidenote timeago">{{ payload.date | l: 'compact' }}</time>
    {% endif %}
  </div>
</header>
