{% liquid
  if object.id
    assign method = 'put'
    function form_url = 'link_to', object: object
  else
    assign method = 'post'
    assign form_url = '/groups'
  endif
  assign uuid = '' | uuid
  assign group_uuid = object.uuid | default: uuid
%}

<div class="container">
  <div class="w-full md:w-2/3">
    <h2 class="title">
      {{ 'app.groups.form.group_info' | t }}
    </h2>
    <p>
      {{ 'app.groups.form.group_info_subtitle' | t }}
    </p>
  </div>
</div>

<div class="container mt-8 flex flex-wrap">
  <form action="{{ form_url }}" method="post" class="w-full md:w-2/3" data-photo-upload-base>

    {% render 'authenticity_token', context: context %}
    <input type="hidden" name="_method" value="{{ method }}">
    {% if object.id %}
      <input type="hidden" name="id" value="{{ object.id }}">
      <input type="hidden" name="group[id]" value="{{ object.id }}">
    {% endif %}
    <input type="hidden" name="group[uuid]" value="{{ group_uuid }}">

    <fieldset class="w-2/3"
      x-data="charCounter()" x-init="init">
      <label class="mb-1 block cursor-pointer flex justify-between" for="name">
        {{ 'app.groups.form.name' | t }} ({{ 'app.required' | t }})
        <span class="text-right"><span x-text="charsLeft"></span> {{ 'app.groups.form.chars' | t }}</span>
      </label>
      <input class="w-full" type="text" id="name" name="group[name]" value="{{ object.name }}" autofocus required maxlength="25"
        x-ref="content" x-spread="input"
      {% render 'theme/simple/field_error', errors: object.errors.name %}
    </fieldset>

    {% render 'theme/simple/groups/forms/permissions', object: object, group: group, lib: lib %}

    <fieldset class="mt-6">
      <div class="mb-1">{{ 'app.groups.form.photo' | t }}</div>
      {% render 'theme/simple/photos/uppy_area' %}
    </fieldset>

    <fieldset class="mt-6"
      x-data="charCounter()" x-init="init">
      <label class="mb-1 block cursor-pointer flex justify-between" for="summary">
        {{ 'app.groups.form.summary' | t }} ({{ 'app.required' | t }})
        <span class="text-right"><span x-text="charsLeft"></span> {{ 'app.groups.form.chars' | t }}</span>
      </label>
      <textarea class="w-full" id="summary" name="group[summary]" rows="2" required maxlength="140"
        x-ref="content" x-spread="input"
        >{{ object.summary }}</textarea>

      {% render 'theme/simple/field_error', errors: object.errors.summary %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.summary_tip' %}
    </fieldset>

    <fieldset class="mt-6">
      <label class="mb-1 block cursor-pointer" for="description">{{ 'app.groups.form.description' | t }}</label>
      <textarea class="w-full" id="description" name="group[description]" rows="2" data-markdown-editor>{{ object.description }}</textarea>

      {% render 'theme/simple/field_error', errors: object.errors.description %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.description_tip' %}
    </fieldset>

    <div class="mt-6">
      <label class="mb-1 block cursor-pointer" for="code_of_conduct">{{ 'app.groups.form.code_of_conduct' | t }}</label>
      <textarea class="w-full form-input" id="code_of_conduct" name="group[code_of_conduct]" rows="2" data-markdown-editor>{{ object.code_of_conduct }}</textarea>

      {% render 'theme/simple/field_error', errors: object.errors.code_of_conduct %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.code_of_conduct_tip' %}
    </div>

    <div class="mt-6">
      <div class="mb-1">{{ 'app.groups.form.content_type' | t }}</div>
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.content_types_explanation.intro' %}
      {% render 'theme/simple/field_error', errors: object.errors.content_types %}
      <div class="mt-2 p-4 md:inline-flex md:flex-wrap gap-12 border rounded border-frame">
        {% for content_type in lib.post_templates %}
          <div class="mt-4 xs:mt-0 first:mt-0">
            {% render 'theme/simple/groups/content_type', group: group, content_type: content_type[0], template: content_type[1] %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="mt-6">
      <label class="mb-1 block cursor-pointer" for="tags">{{ 'app.groups.form.tags' | t }}</label>
      <input class="w-2/3 uppercase" type="text" id="tags" name="group[tags]" value="{{ object.tags | join: ',' }}" data-tags-allowlist-input data-tags-whitelist="{{ lib.tags | join: ',' }}">
      {% render 'theme/simple/field_error', errors: object.errors.tags %}
      {% render 'theme/simple/ui/form-tip', content_key: 'app.groups.form.tags_help' %}
    </div>

    <button class="mt-12 button">
      {% if object.id %}
        {{ 'app.groups.form.update' | t }}
      {% else %}
        {{ 'app.groups.form.submit' | t }}
      {% endif %}
    </button>
  </form>
</div>

{% liquid
  assign photo = photos[0] | default: object.main_photo
  assign photos = '[]' | parse_json
  assign photos = photos | add_to_array: photo | compact
%}
{% render 'theme/simple/photos/uppy_form',
  object_uuid: group_uuid,
  presigned_url: presigned_url,
  user_id: user.id,
  photo_type: 'main',
  note: 'Image up to 2MB',
  max_number_of_files: 1,
  existing_photos: photos
%}
